* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(104, 102, 102);
}
.container {
  width: 100%;
  width: 100%;

  height: 70vh;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;

  gap: 4px;
  justify-content: center;
  align-items: center;
}
.cards {
  height: 350px;
  width: 300px;
  background-color: rgb(23, 22, 22);
  border-radius: 10px;
}
.card {
  padding: 10px 10px;
  color: white;
}
h1 {
  font-size: 2rem;
}
.card img {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.btn {
  margin: 5rem;
  color: white;
  padding: 10px 20px;
  background-color: blue;
  border-radius: 10px;
}
